header{
	background:#FFF;
	border-color:#CCC;

}

h1, h2, h3, h4{
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	font-weight:bold;
}

h1{
	background-color:#4AAAA5;
	color:#FFF;
	padding:21px;
	margin-left:4px;
	display:inline-block;
	margin-top:0;
	margin-bottom:0;
}

h2{
	color:#4AAAA5;
	border-bottom: 3px solid #CCC;
	padding:20px;
	padding-top:0px;
	padding-left:0px;
	margin-bottom:20px;
}

h4{
	color:#4AAAA5;
	border-bottom: 2px solid #CCC;
	margin:0px;
	margin-bottom:20px;
	padding-bottom:10px;
}

a{
	color:#777;
	margin-top:0px;
	margin-bottom:0px;
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;
	background-color:#FFF;
	border-color:#DDD;
}

footer{
	background-color:#666;
	text-align:center;
	padding:30px;
	margin:0;
	border-top: 8px solid #4AAAA5;
	clear:both;
	bottom:0;
	width:100%;
}

/*
h1, h2, h3, p, div, footer, header{
	border:solid;
*/

form{
	background-color:#FFF;
}

.icons{
	height:50px;
	width:50px;

}

#vertLines{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

#bio{
	text-align:justify;
}

#Main{
	background-color:#FFF;
	margin:20px;
	margin-top:40px;
	padding:25px;
	padding-top:15px;
	border: 2px solid #DDD;
}

#ConnectWithMe{
	background-color:#FFF;
	color:#4AAAA5;
	margin:20px;
	margin-top:40px;
	padding:20px;
	border: 2px solid #DDD;
}

#myPic{
	margin-top:25px;
	margin-right:20px;
	border:solid;
	border-color:#CCC;
	border-radius:100%;
	float:left;
}